<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitNexus - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1 class="welcome-text">Welcome to FitNexus, <span id="username">{{ user }}</span>!</h1>
            <div class="quote-container">
                <p class="quote active">Your only limit is <span class="highlight">YOU</span>.</p>
                <p class="quote">Push <span class="highlight">HARDER</span> than <span class="highlight">YESTERDAY</span> if you want a different tomorrow.</p>
                <p class="quote">The pain you feel today will be the <span class="highlight">STRENGTH</span> you feel tomorrow.</p>
                <p class="quote"><span class="highlight">SWEAT</span>, sacrifice, success. Keep going!</p>
                <p class="quote"><span class="highlight">DISCLIPLINE</span> iss the key!</p>
                <p class="quote"> Today's <span class="highlight">PAIN</span> is tomorrow's <span class="highlight">POWER!</span></p>
            </div>
            <div class="branding-container">
                <ul class="features">
                    <li>Track Workouts</li>
                    <li>Log Calories</li>
                    <li>Monitor Progress</li>
                    <li>Set Fitness Goals</li>
                </ul>
            </div>
        </div>
        <div class="slant"></div>
        <div class="right">
            <div class="slideshow-container">
                <img class="slide active" src="{{ url_for('static', filename='slideshow/img1.jpeg') }}" alt="Fitness 1">
                <img class="slide" src="{{ url_for('static', filename='slideshow/img2.jpeg') }}" alt="Fitness 2">
                <img class="slide" src="{{ url_for('static', filename='slideshow/img3.jpeg') }}" alt="Fitness 3">
                <img class="slide" src="{{ url_for('static', filename='slideshow/img4.jpeg') }}" alt="Fitness 4">
            </div>
        </div>
    </div>
    <button id="get-started">Get Started</button>

    <script src="{{ url_for('static', filename='js/landing-script.js') }}"></script>
</body>
</html>