<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitNexus-Welcome</title>
    <link rel="stylesheet" href="../css/landing-styles.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="quote-container">
                <p id="quote">Your Only Limit is YOU.</p>
            </div>
            <div class="features">
                <ul>
                    <li>Track Workouts</li>
                    <li>Log Calories</li>
                    <li>Monitor Progress</li>
                    <li>Set Fitness Goals</li>
                </ul>
            </div>
        </div>

        <div class="slant"></div>

        <div class="right">
            <div class="slideshow">
                <img class="slide" src="../assets/slideshow/img1.jpeg" alt="Fitness 1">
                <img class="slide" src="../assets/slideshow/img2.jpeg" alt="Fitness 2">
                <img class="slide" src="../assets/slideshow/img3.jpeg" alt="Fitness 3">
                <img class="slide" src="../assets/slideshow/img4.jpeg" alt="Fitness 4">
            </div>
            
        </div>
    </div>

    <div class="welcome">
        <h1>Welcome to FitNexus, {{ user }}!</h1>
        <p>Let's crush today's goals!</p>
        <button id="get-started">Get Started</button>
    </div>

    <script src="{{ url_for('static', filename='js/landing-script.js') }}"></script>
</body>
</html>
